/* index.css for DBeaz */

a:link 		{ color: #b0b0e0; }  /* ���K�� */
a:visited 	{ color: #b0b0d8; }  /* �K��ς� */
a:hover 	{ color: #a0a0ff; }  /* �|�C���g�� */
a:active 	{ color: #b0b0f0; }  /* �I�� */

#sortable {
	list-style-type: none;
	margin: 5; 	padding: 2;
	width: 800px;
}

#sortable li {
	margin: 2px 2px 2px 0;
	padding: 1px; float: left;
	width: 700px; height: 30px;
/*	width: 220px; height: 30px; */
	font-size: 1em; text-align: left;
}

/*
.ui-state-highlight {    // for sortable placeholder
    height: 1em;
    width: 200px;
    border: dotted 1px #0000ff;
    background-color: #888888;
}
*/

div.spacer
{
    font-size: 0;
    height: 50px;
    line-height: 0;
}

/* --- Bootstrap --- */
.navbar {
	min-height: 30px !important
}

#nav-header {
	position: relative;  /* 相対配置（ガイドメニューのために設定） */
	width: 100%; /* IE 6のために幅の指定が必要 */
	margin-top: -12px; /* �w�b�_�̉��}�[�W�� */
/*	margin-bottom: -20px; /* ���̃}�[�W�� */
	height: 46px;

	background: #404048; /* Old browsers */
	background: -moz-linear-gradient(top,  #202028 0%, #606068 100%); 		/* FF3.6+ add */
	background: -webkit-linear-gradient(top,  #202028 0%, #606068 100%); 	/* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #404048 0%,#202028 0%, #606068 100); /* IE10+ */
	background: linear-gradient(top,  #404048 0%, #202028 0%, #606068 100); /* W3C */
}


#container {
/*  col-md-3: 25%, md4: 1/3, md5: 41%, md6: 50%, md7: 58%,  md8:2/3 */
/*	width: 540px; /* �R���e�i�̕� */
/*	margin: 0 auto; /* �Z���^�����O */
	padding: 3px 5px 0px;  /* �w�b�_�̃p�f�B���O�i��A���E�A���j */
/*	padding: 0px 0px 0px;  /* �w�b�_�̃p�f�B���O�i��A���E�A���j */
	margin-bottom: -12px; /* ���̃}�[�W�� */
	background: -moz-linear-gradient(top,  #e0e0f0 0%, #909098 100%); 		/* FF3.6+ add */
	background: -webkit-linear-gradient(top,  #e0e0f0 0%, #909098 100%); 	/* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #b0bccd 0%,#e0e0f0 0%, #686878 100); /* IE10+ */
	background: linear-gradient(top,  #b0bccd 0%, #e0e0f0 0%, #686878 100); /* W3C */
	color: #202020; 	/* Body�����F */
}


#container_item {
	width: 300px;
	padding: 3px 5px 0px;  /* �w�b�_�̃p�f�B���O�i��A���E�A���j */
	margin-bottom: -12px; /* ���̃}�[�W�� */
	background-color: #8080f0;
	color: #ffffff; 	/* Body */
}


#container_canvas {
	padding: 3px 5px 0px;  /* �w�b�_�̃p�f�B���O�i��A���E�A���j */
	margin-bottom: -12px; /* ���̃}�[�W�� */
	background-color: #f0f0f0;
	color: #000000; 	/* Body */
}


/*
.navbar-header{
	min-height: 30px !important
	height: 2px;
}

.navbar-brand {
	min-height: 30px !important
	height: 2px;
}

.navbar-fixed-top {
	min-height: 30px !important
	height: 2px;
}

.navbar-inverse {
	min-height: 30px !important
	height: 2px;
}
*/


/* Body�w�i/�e�L�X�g */
body {
/* margin: 0; */
/* padding: 0; */
/*	font-size: 80%    	Body�����T�C�Y */
/* background-color: #2c2c2c;  �w�b�_�̔w�i�F */
background-color: #2c2c2c; /* �w�i�F */
color: #202020;
}

#backwall {
background-color: #303038;
color: #202020;
}


/*
#dataTables {
  margin:0 auto;
	background-color: #a0a0e0;
color: #101010;
}

table.display {
  margin:0 auto;
  width:100%;
   border:1
}
*/


#viewTable {
//background-color: #e0e0ff;
background-color: #b0c0e8;
//color: #101010;
//width 80%;
font-size: 90%;
}


#itemTable {
background-color: #eaf0f8;
font-size: 90%;
}


#footer {
color: #808080;
padding-top: 20px; /* �㕔�̗]�� */

}




.ui-page, .ui-mobile-viewport {
	background: #222230;
}

.ui-content {
/*	font-size: 120%; */
	color: #88aacc;  /* body text */
}

/* Header gradient */
.ui-header {
/*	font-size: 110%; */
	background: #8888a0; /* Old browsers */
//	background: -webkit-linear-gradient(top,  #8888a0 0%, #585868 100%); /* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top,  #e0e0f0 0%, #686878 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #b0bccd 0%,#e0e0f0 0%, #686878 100); /* IE10+ */
	background: linear-gradient(top,  #b0bccd 0%, #e0e0f0 0%, #686878 100); /* W3C */
}


/* Button gradient */
.ui-btn {
/*	font-size: 120%; */
	background: #8888a0; /* Old browsers */
	background: -webkit-linear-gradient(top,  #c0c0e0 0%, #585868 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #b0bccd 0%,#c0c0e0 0%, #585868 100); /* IE10+ */
	background: linear-gradient(top,  #b0bccd 0%, #c0c0e0 0%, #585868 100); /* W3C */
	cursor: default;
}

.ui-listview {
	border: none transparent !important;
}


